<?xml version="1.0" encoding="utf-8"?>
<!-- Debug-only overrides: cleartext HTTP to host FastAPI (emulator 10.0.2.2). -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="36" />
</manifest>
